body {
  margin: 0;
}

.background-image {
  background-image: url("../public/Spel-officieel-background.jpg");
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}